.groupIcon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 38.14px;
  object-fit: cover;
}
.coders,
.groupIcon,
.oneStop {
  position: relative;
}
.oneStop {
  font-size: 20px;
  display: inline-block;
  font-weight: 700;
  width: 96px;
}
.codersParent,
.homeWrapper,
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.codersParent {
  width: 86px;
  flex-direction: column;
}
.homeWrapper,
.logo {
  flex-direction: row;
}
.logo {
  width: 170px;
  flex-wrap: wrap;
  gap: 12px;
}
.homeWrapper {
  flex: 1;
}
.pricing {
  position: relative;
  font-weight: 700;
  background: linear-gradient(91.62deg, #733ec7, #ca62db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark,
.navbar,
.register {
  display: flex;
  align-items: center;
}
.navbar {
  margin: 0;
  width: 601px;
  height: 34px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-arial);
}
.dark,
.register {
  cursor: pointer;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.register {
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
}
.signIn {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-arial);
  color: var(--color-white);
  text-align: left;
}
.signin {
  flex: 1;
  border-radius: 8px;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
}
.header,
.signin,
.signinregister {
  display: flex;
  flex-direction: row;
}
.signinregister {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 295px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header {
  width: 1266px;
  overflow: hidden;
  padding: 13px var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  text-align: left;
  font-size: 24px;
  color: var(--color-white);
  font-family: var(--font-arial);
}
@media screen and (max-width: 420px) {
  .header {
    flex-direction: column;
    gap: 108px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
